/*********************************/
/*TRUIST TABS*/
.truist-tabs .ori-tabs {width: 100%;}
.truist-tabs .ori-tabs__position--relative {width: auto; max-width: 100%;}
.truist-tabs .ori-tabs__list {padding: 0;}
/*.truist-tabs .ori-tabs__tab {width: 100%;}*/
.truist-tabs .ori-tabs__list {border-bottom: none;}
.truist-tabs .ori-tabs__tab {border-bottom: 1px solid #2e1a47;}
.truist-tabs .ori-tabs__tab__button {padding: 1.5rem 3rem;}
.truist-tabs .ori-tabs__tab__button.is-active {font-weight: 600;}
.truist-tabs .ori-tabs__tab__button:focus {outline: 1px dotted #2e1a47;}
.truist-tabs .ori-tabs__panel-group {width: 100%;
padding-top: 6rem;
    padding-bottom: 0;
    padding-right: 2rem;
    padding-left: 2rem;}
.truist-tabs .js-tru-tab-open-tab-same-page {cursor: pointer;}

@media (min-width: 769px){
    .truist-tabs .ori-tabs {display: flex; flex-direction: column; align-items: center;}
}

/*********************************/
/*Fill TAB*/
/* .filltabs .comparison-nav__container.display--desktop-fill-tabs {display: block; background: none; border: none; border-radius: 0; text-align: center;}
.filltabs .comparison-nav__link-container {display: inline-flex; justify-content: center; flex-direction: row; padding-inline-start: 0;
    margin-block-start: 0; margin-block-end: 0; padding: 3px; margin: 0 auto; background: #563E7C; border: 3px solid #563E7C; border-radius: 1rem;}
.filltabs .comparison-nav__item {border: none; width: auto; display: flex; min-height: 5rem;}
.filltabs .comparison-nav__item.active {font-weight: 600;}
.filltabs .comparison-nav__item:not(:last-child)::after {content: ""; background: #fff; display: inline-block; height: 50%; width: 1px; margin: auto 0; opacity: .25;}
.filltabs .comparison-nav__item a {padding: .6rem 3rem; display: flex; justify-content: center; align-items: center; width: 100%;}
@media only screen and (max-width: 1200px){
    .filltabs .comparison-nav__link-container {flex-wrap: wrap;}
    .filltabs .comparison-nav__item a {padding-right: 2rem; padding-left: 2rem;}
}
@media only screen and (max-width: 954.5px){
    .filltabs  .comparison-nav__item {padding: 0;}
}
@media (max-width: 795px){
    .filltabs .comparison-nav__container.display--desktop-fill-tabs {display: none;}
} */

/*********************************/
/*HERO BANNER*/
.herobanner .hero-text {max-width: 80rem; text-align: inherit; color: inherit; padding-top: 0;}
.hero-text.orion-text-align-left {text-align: left;}
.hero-text.orion-text-align-center {margin-right: auto; margin-left: auto; text-align: center;}
.hero-text.orion-text-align-right {text-align: right;}
.herobanner .hero-text__scroll {margin-bottom: 0;}
.herobanner .hero-text__scroll p {margin-bottom: 2rem;}
.herobanner .hero-text__scroll h1,
.herobanner .hero-text__scroll h2,
.herobanner .hero-text__scroll h3,
.herobanner .hero-text__scroll h4,
.herobanner .hero-text__scroll h5,
.herobanner .hero-text__scroll h6 {margin-bottom: 0;}
.herobanner .orion-hero-carousel__panel__content {display: flex;}
.herobanner .orion-hero-carousel__panel__content--gradient {font-size: inherit;}

.herobanner .hero-text__scroll {max-height: 40rem;}
.herobanner .pre-heading {line-height: 1.5em; font-weight: 600; font-size: 1.6rem; margin-bottom: 1.5rem; text-transform: inherit;}
.herobanner .pre-heading:empty {display: none}
.herobanner .orion-hero-carousel__panel__content span.orion-hero-text-color--white:not(.pre-heading) {font-size: 4.8rem; line-height: 5.4rem; font-weight: 300; display: block; padding: .5rem 0;}
.herobanner p.sub-heading {font-size: 1.6rem; line-height: 1.5em; margin-top: 3rem; margin-bottom: 0;}
.herobanner .hero-text a {color: #fff; text-decoration: underline;}

.herobanner .global-cta-btn {margin-top: 2.5rem;}
.herobanner .global-cta-btn a,
.herobanner .global-cta-btn a.modalWindow {background: transparent; border: 2px solid #fff; color: #fff; margin-bottom: 0; margin-top: 1rem; text-align: center;}
.herobanner .global-cta-btn a:hover,
.herobanner .global-cta-btn a:active {background: #fff; border: 2px solid #fff; color: #2e1a47;}
.herobanner .global-cta-btn a:focus {outline: 1px solid #fff; outline-offset: -4px;}
.hero-content-container .global-cta-btn a:not(:first-child) {margin-left: 0;}
@media (max-width: 768px){
    .herobanner .hero-content-container {width: 100%; padding: 2rem;}
	.herobanner .hero-text__scroll {max-height: 100%;}
}
@media (min-width: 769px){
    .herobanner .hero-text__scroll {max-height: 25rem;}
    .herobanner .pre-heading {font-size: 1.6rem;}
    .herobanner .orion-hero-carousel__panel__content span.orion-hero-text-color--white:not(.pre-heading) {font-size: 4.8rem; line-height: 5.4rem;}
    .herobanner p.sub-heading,
    .herobanner p.sub-heading ~ p {font-size: 1.8rem; line-height: 1.5em;}
    .herobanner .hero-content-container .global-cta-btn a:not(:first-child) {margin-left: 1rem;}
    .herobanner .hero-content-container {padding: 0;}
    /*single hero*/
    .herobanner:not(.truist-carousel .herobanner){padding: 0 1.5rem; margin: 0 auto !important; max-width: 1600px; float: none !important;}
}
@media (min-width: 1024px) {
    .herobanner .hero-text__scroll {max-height: 50rem;}
}

/*********************************/
/*CARD LIST, TRUIST CARD LIST*/
/* [data-page-type="newspage" i][data-view-model="GridView" i] {border-bottom: none; }
[data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont .grid-teaser-text {margin-bottom: 4rem;}
[data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont .grid-teaser-text p:first-child,
[data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont .grid-teaser-text p.eyebrow {color: #B0E0E2; font-size: 1.8rem; line-height: 1.25em; margin-bottom: 2rem;}
[data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont .grid-teaser-text h3 {color: #fff; font-size: 2rem; line-height: 1.25em; font-weight: 600; margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;}
[data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont .grid-teaser-text p {color: #fff; font-size: 1.4rem; line-height: 1.5em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;}
[data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont .property-cont {display: flex; color: #B0E0E2; font-size: 1.6rem; line-height: 1.5em; font-weight: 400; justify-content: space-between;}
[data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont .dy-card-media-type {flex: 1; display: contents;} */
/*.featured-article-list .property-cont {right: auto;}*/
/* [data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont .dy-card-duration {display: block; padding-left: 2rem;}
[data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont .dy-card-duration::after {}
[data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont .dy-card-publication-date {display: block;}
[data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont .dy-card-category,
[data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont .dy-card-publication,
[data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont .dy-card-author,
[data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont .dy-card-title,
[data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont .card-footer {display: none;}

[data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont { padding: 3rem; }
[data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont .card-body {padding: 0;}

[data-page-type="newspage" i][data-view-model="GridView" i] .grid-group-item {padding: 0; text-align: left;}
[data-page-type="newspage" i][data-view-model="GridView" i] .container {padding: 0;} */
/*truist card view, filter*/
/* .cmp-truist-cards-list-v1 .cards-filters-container {margin: 4rem 0;}
.cmp-truist-cards-list-v1 .filter-pills {width: 100%;}
.cmp-truist-cards-list-v1 .filter-pills__pill-container {padding: 0; align-items: center;}
.cmp-truist-cards-list-v1 .filter-pills__media-type {margin: 0 3rem 0 0; font-size: inherit;}
.cmp-truist-cards-list-v1 .mb__pills {position: relative; margin: 1rem 0;}
.cmp-truist-cards-list-v1 .filter-pills__pill-container input[type=checkbox] {width: 100%; height: 100%; position: absolute;}
.cmp-truist-cards-list-v1 .filter-pills__resources {}
.cmp-truist-cards-list-v1 .filter-pills__resources p {margin-bottom: 0;}
[data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont .property-cont {
    bottom: 2.5rem;
} */

/* @media only screen and (max-width: 795.5px){
    .cmp-truist-cards-list-v1 .filter-pills__media-type {margin: 3rem 3rem 3rem 0;}
    .cmp-truist-cards-list-v1 .pill--container {margin: 0 3rem 3rem 0;}
    .cmp-truist-cards-list-v1 .filter-pills__resources {margin-top: 4rem; margin-bottom: 0;}
} */

/* @media (min-width: 769px){
    [data-page-type="newspage" i][data-view-model="GridView" i] .grid-view-container {display: grid; grid-gap: 4rem; margin: 0;}

    [data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont .grid-teaser-text p {font-size: 1.8rem; line-height: 1.5em;}
    [data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont .grid-teaser-text p.eyebrow, */
    /* [data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont .grid-teaser-text p:first-child {font-size: 2rem;} */
    /* [data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont .grid-teaser-text h3 {font-size: 2rem; line-height: 1.25em;}
    [data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont .property-cont {font-size: 1.6rem;} */
    /*columns*/
    /* [data-page-type="newspage" i][data-view-model="GridView" i][data-grid-row-element="1"] .grid-view-container {grid-template-columns: 1fr;}
    [data-page-type="newspage" i][data-view-model="GridView" i][data-grid-row-element="2"] .grid-view-container {grid-template-columns: 1fr 1fr;}
    [data-page-type="newspage" i][data-view-model="GridView" i][data-grid-row-element="3"] .grid-view-container {grid-template-columns: 1fr 1fr 1fr;}
    [data-page-type="newspage" i][data-view-model="GridView" i][data-grid-row-element="4"] .grid-view-container {grid-template-columns: 1fr 1fr 1fr 1fr;}

} */
/* @media (min-width: 769px) and (max-width: 1440px) {
    [data-page-type="newspage" i][data-view-model="GridView" i] .grid-view-container {grid-gap: 2rem;}
    [data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont {margin-bottom: 2rem;}
    [data-page-type="newspage" i][data-view-model="GridView" i] .newsgridcont {padding: 2rem;}
} */

/* .lesson-selector .lesson-list {margin: 10px 0 10px 0;} */

/*********************************/
/*CTA COMPONENT*/
/*button and link*/
/* .cta .global-cta-btn a,
.cta .global-cta--link a,
.cta .btn {padding: 1.5rem 2rem; margin-bottom: 2rem; width: auto; font-size: 1.8rem; line-height: 2.4rem; border-radius: .4rem; text-decoration: none; transition: all .15s ease-in;}
.cta .global-cta--link a {padding: 1.5rem 0; display: inline-block; cursor: pointer;}
.cta .global-cta--link {cursor: auto;} */
/*external link icon*/
/* .cta .global-cta-external-link {top: -.2rem; background-image: url(/content/dam/truist-bank/us/en/icons/code/icon-external-link-white.png); height: 1.6rem; width: 1.6rem; margin-left: .5rem;}
.cta a:hover .global-cta-external-link,
.cta a:focus .global-cta-external-link {background-image: url(/content/dam/truist-bank/us/en/icons/code/icon-external-link-purple.png);} */
/*download link icon*/
/* .cta .global-cta--link [data-wa-linktype="download" i] {text-decoration: underline;}
.cta .global-cta--link [data-wa-linktype="download" i]::after,
.cta .global-cta--link:focus > [data-wa-linktype="download" i]::after {background-image: url(/content/dam/truist-bank/us/en/icons/code/icon-download.svg); background-size: contain; height: 2.4rem; width: 2.4rem; margin-left: .5rem; position: relative; top: .5rem; display: inline-block;} */
/*left and right arrow icons*/
/* .cta .global-cta--link:hover > a::after,
.cta .global-cta--link:focus > a::after,
.cta .global-cta--link a::after {display: none;}
.cta .global-cta--link .global-cta-rightarrow,
.cta .global-cta--link .global-cta-leftarrow {background: url("data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iaWNfYXJyb3ctcmlnaHQtMTZweCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHBhdGggZD0iTTE1LjkyMywyNzk4LjM4MmExLDEsMCwwLDAtLjIxNy0xLjA5bC01LTVhMSwxLDAsMSwwLTEuNDE0LDEuNDE0TDEyLjU4NiwyNzk3SDFhMSwxLDAsMCwwLDAsMkgxMi41ODZsLTMuMjkzLDMuMjkzYTEsMSwwLDEsMCwxLjQxNCwxLjQxNGw1LTVBMSwxLDAsMCwwLDE1LjkyMywyNzk4LjM4MloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTI3OTApIiBmaWxsPSJyZ2IoNDYsIDI2LCA3MSkiPjwvcGF0aD48L3N2Zz4=") 0 0 no-repeat;
    background-size: contain; width: auto; height: auto;}
.cta .global-cta--link .global-cta-rightarrow {padding: 1.5rem 1.5rem 0 1.5rem; margin-left: .5rem;}
.cta .global-cta--link .global-cta-leftarrow {float: left; transform: rotate(180deg); margin-right: 1rem; padding: 1rem;} */


/*********************************/
/*STATIC CARDS*/
/* .truist-global-staticcard-cardtitle {margin-bottom: 0; display: none TAH added 06242002;} */
/* .truist-global-staticcard-cardtitle:only-child, */
/* .truist-global-staticcard-cardtitle + .truist-global-staticcard-cardtitle {display: block;} TAH added 06242002 */

/*TAH 6242022*/
/* .truist-global-staticcard-content-padding ~ p {padding-left: 30px; padding-right: 30px;}
.truist-global-staticcard-content-padding ~ ul,
.truist-global-staticcard-content-padding ~ ol {margin: 0 3rem 2rem 3rem;} */
/* .truist-global-staticcard-cardcontent {line-height: 1.5;} TAH added 06242002 */
/* .truist-global-staticcard-cardcontent ~ p {font-size: 1.6rem; font-weight: 400; margin-bottom: 0;}
@media (min-width: 1366px) {
    .truist-global-staticcard-cardcontent ~ p {font-size: 1.8rem;}
} */

/*********************************/
/*FIND AN ADVISOR*/
/* @media (max-width: 768px){
    .people-heading-container h2 {font-size: 3.6rem; line-height: 4.2rem;}
} */


/*********************************/
/*MODAL POPUP*/
/* .global-popup .dark-blue-theme .popup-modal-close svg {fill: #2E1A47} */

/*SECONDARY NAV*/
/* .navbar-secondary__heading {line-height: 1.5em;}
@media (min-width: 941px) {
    .navbar-secondary__cta-phone-container {margin: auto;}
} */

/* Next Gen CTA Buttons */
/* .cta .global-cta-btn a, .cta .btn {
    padding: 12px 24px;
    margin-bottom: 2rem;
    width: auto;
    font-size: 1.6rem;
    line-height: 2.4rem;
    border-radius: 10px;
    text-decoration: none;
    transition: all .15s ease-in;
    font-weight: 700;
}

.cta .global-cta--link a {
    padding: 0;
    margin-bottom: 2rem;
    width: auto;
    font-size: 1.6rem;
    line-height: 2.4rem;
    border-radius: 10px;
    text-decoration: none;
    transition: all .15s ease-in;
    font-weight: 700;
} */
/* End Next Gen CTA Buttons */
