/*OVERRIDE*/
/*main*/
main {max-width: none !important;}
/*XF*/
.experiencefragment .aem-Grid.aem-Grid--default--24 > .responsivegrid.aem-GridColumn.aem-GridColumn--default--12 {width: 100% !important;}
/*FOOTER*/
footer #footer-section-disclosure {margin-top: 0 !important;}
@media (min-width: 769px) {
    footer #footer-section-disclosure {margin-top: 0 !important;}
}

/*MAIN CONTENT*/
.homepage-main-content {}
.homepage-main-content .grid__type--section {margin-top: 6rem; margin-bottom: 6rem; overflow: hidden;}
@media (min-width: 769px) {
    .homepage-main-content .grid__type--section {
        width: calc(100% - 3rem) !important;
        margin-left: 1.5rem !important;
        margin-right: 1.5rem !important;
        margin-top: 6.5rem;
        margin-bottom: 6.5rem;
    }
}
@media (min-width: 1601px) {
    .homepage-main-content .grid__type--section {
        max-width: 1570px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
/*cta*/
@media (max-width: 768px) {
    .homepage-main-content .cta .global-cta-btn a,
    .homepage-main-content .cta .btn {display: inline-block;}
}
/*hero*/
.homepage-main-content .herobanner:not(.truist-carousel .herobanner) {float: none !important;}
/*static cards*/
@media (max-width: 768px) {
    .homepage-main-content .static-card__custom--even-columns .truist-global-staticcard-column {margin-bottom: 3rem;}
}
@media (max-width: 1023px) {
    .homepage-main-content .truist-global-staticcard-content-padding,
    .homepage-main-content .truist-global-staticcard-content-padding ~ p {padding-left: 20px; padding-right: 20px;}
}
@media (min-width: 769px) {
    /*policies*/
    .homepage-main-content .grid__border-radius-bottom-left {border-bottom-left-radius: 4rem;}
    .homepage-main-content .grid__border-radius-bottom-right {border-bottom-right-radius: 4rem;}
    .homepage-main-content .grid__border-radius-top-right {border-top-right-radius: 4rem;}
    .homepage-main-content .grid__border-radius-top-left {border-top-left-radius: 4rem;}
    .homepage-main-content .herobanner:not(.truist-carousel .herobanner) {max-width: 1600px;}
}

/**FEATURED CONTENT - special 1**/
.special-1 .staticcard .truist-global-staticcard-column {
    margin-right: 4.167%;
    margin-left: 4.167%;
    width: 91.6667%;
    padding: 4rem 4.167%;
    text-align: center;
    border-radius: 2rem;
}
/*image*/
.special-1 .truist-global-staticcard-img-top {height: 100px; display: flex; align-items: center; justify-content: center;}
.special-1 .truist-global-staticcard-img {width: auto; height: 100%; position: relative; z-index: 1;}
.special-1 .static-card__custom--bg-color--dawn-lighter .truist-global-staticcard-img-top {margin-top: 3rem; margin-bottom: 3rem;}
.special-1 .static-card__custom--bg-color--dawn-lighter .truist-global-staticcard-img-top::before {
    content: ""; 
    background: url('../images/graphic-halftone-AFABC9.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: calc(100px + 5rem);
    width: calc(100px + 7rem);
    position: absolute;
}
/*text*/
.special-1 .truist-global-staticcard-cardtitle {font-size: 2.8rem; line-height: 3.4rem; font-weight: 300;}
.special-1 .truist-global-staticcard-cardcontent ~ p {color: #2E1A47;}
/*cta*/
.special-1 .global-cta-btn {margin-top: inherit;}
.special-1 .cta .global-cta-btn a {display: inline-block;}
.special-1 .cta .global-cta--link a {text-decoration: underline; margin-bottom: 0;}
.special-1 .cta .global-cta--link a:hover,
.special-1 .cta .global-cta--link a:focus {text-decoration: none;}
.special-1 .static-card__custom--bg-color--dawn-lighter .global-cta-btn a {margin-bottom: 0;}
@media (min-width: 768px){
    .special-1 .staticcard .truist-global-staticcard-column {border-radius: 4rem;}
}
@media (min-width: 769px){
    .special-1 .staticcard .truist-global-staticcard-column {
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        justify-content: center;
    }
    .special-1 .static-card__custom--add-custom-content .truist-global-staticcard-button-bottom {height: auto;}
}
@media (min-width: 1367px){
    .special-1 .staticcard .truist-global-staticcard-column {padding: 8rem 12.5%;}
    .special-1 .truist-global-staticcard-row:not(:last-child) {margin-bottom: 3rem;}
    /*image*/
    .special-1 .truist-global-staticcard-img-top {height: 160px;}
    .special-1 .static-card__custom--bg-color--dawn-lighter .truist-global-staticcard-img-top::before {
        height: calc(160px + 5vw);
        width: calc(160px + 7vw);
    }
    /*text*/
    .special-1 .truist-global-staticcard-cardtitle {font-size: 3.6rem; line-height: 4.2rem;}
}

/**FEATURED CONTENT - special 2**/
.special-2 {background-color: #E5F5F5; padding: 0 4.167%;}
.special-2 > .aem-Grid > .gridlayoutcontainer {margin-top: 4rem; margin-bottom: 4rem;}
.special-2 > .aem-Grid > .image img {width: 66%; max-width: 350px;}
.special-2 .staticcard .truist-global-staticcard-column {background: none; border: none; padding-bottom: 0; margin-top: 0;}
.special-2 .staticcard .truist-global-staticcard-row {width: calc(100% - 3rem); margin-left: auto;}
.special-2 .staticcard .truist-global-staticcard-row:nth-child(2) {width: auto; position: absolute;}
.special-2 .staticcard .truist-global-staticcard-row:nth-child(2) img {width: 5rem;}
.special-2 .staticcard .truist-global-staticcard-row:nth-child(1),
.special-2 .staticcard .truist-global-staticcard-row:nth-child(3) {display: none;}
.special-2 .truist-global-staticcard-content-padding {padding: 0;}
.special-2 .truist-global-staticcard-cardcontent ~ p {padding-right: 0; padding-left: 0; margin-left: 3rem; color: #2E1A47;}
/*mobile app*/
.special-2 .staticcard .mobile-app-qr-code {}
.special-2 .staticcard .mobile-app-qr-code .truist-global-staticcard-row:nth-child(2),
.special-2 .staticcard .mobile-app-qr-code .truist-global-staticcard-row:nth-child(4) {display: none;}
.special-2 .staticcard .mobile-app-qr-code .truist-global-staticcard-button-bottom {margin-left: 0; width: 100%;}
.special-2 .staticcard .mobile-app-qr-code .truist-global-staticcard-card-cta-button {margin-top: 0;}
.special-2 .staticcard .mobile-app-qr-code .truist-global-staticcard-card-cta-button .image {width: auto !important; float: none !important; display: inline-block !important; margin: 1rem 2rem 1rem 0;}
.special-2 .staticcard .mobile-app-qr-code .truist-global-staticcard-card-cta-button .image img {height: 5rem;}
@media (max-width: 1023px) {
    .special-2 .truist-global-staticcard-column {max-width: none; width: 100%;}
}
@media (min-width: 767px) {
    .special-2 .orion-hero-carousel__panel__content--gradient {}
}
@media (min-width: 992px){
    .special-2 {position: relative; padding: 0 8.333%;}
    .special-2 > .aem-Grid {display: flex; align-items: center; min-height: 625px;}
    .special-2 > .aem-Grid > .gridlayoutcontainer {margin-top: 8rem; margin-bottom: 8rem;}
    .special-2 > .aem-Grid > .image img {width: 350px; position: absolute; bottom: 0; right: 8.333%;}
    .special-2 .truist-global-staticcard-button-bottom {display: none;}
    /*mobile app*/
    .special-2 .staticcard .mobile-app-qr-code {background: #fff; padding: 2rem; height: 14rem; max-width: 50rem; justify-content: center;}
    .special-2 .staticcard .mobile-app-qr-code .truist-global-staticcard-row:nth-child(2),
    .special-2 .staticcard .mobile-app-qr-code .truist-global-staticcard-row:nth-child(4) {display: block;}
    .special-2 .staticcard .mobile-app-qr-code .truist-global-staticcard-button-bottom {display: none;}
    .special-2 .staticcard .mobile-app-qr-code .truist-global-staticcard-row {width: calc(100% - 10rem); margin-left: auto; margin-bottom: 0;}
    .special-2 .staticcard .mobile-app-qr-code .truist-global-staticcard-row:nth-child(2) img {width: 10rem; border: 3px solid #2E1A47; padding: .5rem; border-radius: 1.2rem;}
    .special-2 .staticcard .mobile-app-qr-code .truist-global-staticcard-cardcontent ~ p {padding: 0; margin-left: 2rem;}
}
@media (min-width: 1200px){
    .special-2 > .aem-Grid > .image img {width: 425px; max-width: none;}
}

/**FEATURED CONTENT - special money and mindset**/
.special-money-mindset {}
.mm-grid-hero-feature {}
.mm-grid-hero-feature .herobanner {border-radius: 2rem; overflow: hidden; margin-bottom: 3rem;}
.mm-grid-hero-feature .herobanner > .div {display: flex;}
.mm-grid-hero-feature .herobanner .hero-text {padding-top: 0;}
.mm-grid-hero-feature .herobanner .orion-hero-carousel__panel__content span.orion-hero-text-color--white:not(.pre-heading) {font-size: 3.6rem; line-height: 4.2rem; padding: 0;}
.mm-grid-hero-feature > .aem-Grid > .gridlayoutcontainer {margin: 0!important; padding: 5rem 3rem;}
.mm-grid-hero-feature > .aem-Grid > .gridlayoutcontainer h3 {font-size: 3.6rem; line-height: 4.2rem;}
.mm-grid-hero-feature > .aem-Grid > .gridlayoutcontainer .image {max-width: 5rem; margin-bottom: 2rem;}
.mm-grid-hero-feature > .aem-Grid > .gridlayoutcontainer .image img {margin-left: -1rem;}
.mm-grid-hero-feature > .aem-Grid > .gridlayoutcontainer .cta .global-cta-btn a {display: inline-block; margin-bottom: 0;}
/*eyebrow*/
.mm-grid-hero-feature .herobanner .pre-heading,
.mm-grid-hero-feature > .aem-Grid > .gridlayoutcontainer .text__type--eyebrow p {
    font-size: 1.6rem; 
    line-height: 1.5em; 
    font-weight: 400; 
    text-transform: none; 
    background: #e5f5f5; 
    display: inline-block; 
    color: #2e1a47; 
    border-radius: 1.5em; 
    padding: 0.5rem 2rem;
    margin-bottom: 2rem;
}
.mm-grid-hero-feature .text__type--eyebrow {padding: 0; margin: 0;}
@media (max-width: 768px) {
    .herobanner .hero-content-container {width: 100%; padding: 5rem 3rem;}
}
@media (min-width: 769px) {
    .mm-grid-hero-feature .herobanner:not(.truist-carousel .herobanner) {border-radius: 4rem; margin-bottom: 3rem !important; width: 100% !important;}
    .mm-grid-hero-feature .aem-Grid > .aem-GridColumn {width: 100%;}
    .mm-grid-hero-feature > .aem-Grid > .gridlayoutcontainer {padding: 6rem 8.333%;}
    .mm-grid-hero-feature .herobanner:not(.truist-carousel .herobanner) {padding: 0;}
    .mm-grid-hero-feature .herobanner .orion-hero-carousel__panel__content {border-radius: 4rem;}
}
@media (min-width: 1024px){
    .mm-grid-hero-feature > .aem-Grid {display: grid; grid-template-columns: 1fr 1fr; grid-gap: 4.167%;}
    .mm-grid-hero-feature > .aem-Grid > .herobanner {flex: 1; margin-right: 3rem; margin-bottom: 0; width: 100% !important;}
    .mm-grid-hero-feature > .aem-Grid > .gridlayoutcontainer.aem-GridColumn {flex: 1; display: flex; align-items: center; justify-content: center; width: 100% !important;}
    .mm-grid-hero-feature > .aem-Grid::before,
    .mm-grid-hero-feature > .aem-Grid::after {display: none;}
    .mm-grid-hero-feature .orion-hero-carousel__panel__content {min-height: auto; max-height: none;}
}
@media (min-width: 1200px) {
    .mm-grid-hero-feature .herobanner .hero-content-container {width: 100%; padding: 6.5rem 7rem;}
    .mm-grid-hero-feature > .aem-Grid > .gridlayoutcontainer {padding: 6.5rem 7rem;}
    .mm-grid-hero-feature .orion-hero-carousel-background-img {height: 100%;}
}
@media (min-width: 1600px) {
    .mm-grid-hero-feature > .aem-Grid {grid-template-columns: 2fr 1fr; grid-gap: 3rem;}
    .mm-grid-hero-feature .herobanner .hero-text {max-width: 50%;}
}
@media (min-width: 1920px) {
    .mm-grid-hero-feature > .aem-Grid {grid-gap: 4.167%;}
}

/**CONTENT BLOCK - special ankle**/
.special-ankle {padding-bottom: 11rem;}
@media (min-width: 769px) {
    .special-ankle {padding-bottom: 15rem;}
}

/**FEATURED CONTENT - special 3**/
.special-3 {}
/*title*/
.special-3 > .aem-Grid > .gridlayoutcontainer:nth-child(1) > div > .aem-Grid .text:nth-child(2) p {font-size: 2.4rem; line-height: 3rem; color: #2E1A47; font-weight: 600;}
/*button*/
.special-3 > .aem-Grid > .gridlayoutcontainer:nth-child(1) > div > .aem-Grid .cta:nth-child(3) .global-cta-btn {margin: 3rem 0;}
.special-3 > .aem-Grid > .gridlayoutcontainer:nth-child(1) > div > .aem-Grid .cta:nth-child(3) .global-cta-btn a {margin: 0;}
/*static card button*/
.special-3 .staticcard .cta .global-cta-btn {margin: 0;}
@media (max-width: 769px){
    .special-3 > .aem-Grid > .gridlayoutcontainer:nth-child(1) > div > .aem-Grid .text:nth-child(1) {
        width: calc(100% - 3rem) !important;
        margin-left: 1.5rem !important;
        margin-right: 1.5rem !important;
    }
}

/**HERO BANNER - special promo**/
/*hero banner personalization - override*/
.special-hero-promo {
    width: calc(100% - 3rem) !important;
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
    margin-top: 2rem;
    margin-bottom: 4rem;
    min-height: auto;
}
.special-hero-promo.orion-hero-carousel__panel__content {border-radius: 2rem;}
.special-hero-promo .hero-content-container {padding: 6rem 4.167%;}
.special-hero-promo.orion-hero-carousel__panel__content--gradient::after {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%; height:100%;
    display: inline-block;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5368522408963585) 0%, rgba(0, 0, 0, 0.5368522408963585) 50%, rgba(0, 0, 0, 0.396796218487395) 68%, rgba(0, 0, 0, 0.20351890756302526) 85%, rgba(0, 0, 0, 0.09987745098039214) 100%);
}
.special-hero-promo .orion-hero-carousel-background-img {z-index: auto;}
.special-hero-promo.orion-hero-carousel__panel__content span.orion-hero-text-color--white:not(.pre-heading) {font-size: 3.6rem; line-height: 4.2rem;}
.special-hero-promo p.sub-heading {margin-top: 2rem;}
@media (min-width: 769px) {
    .special-hero-promo .hero-content-container {padding: 10rem 0;}
    .special-hero-promo.orion-hero-carousel__panel__content {border-radius: 4rem;}
}
@media (min-width: 1601px) {
    .special-hero-promo {
        max-width: 1570px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

/**FEATURED CONTENT - special 4**/
.special-4 .truist-global-staticcard-column {border-radius: 0;}
.special-4 .truist-global-staticcard-column:not(last-child) {margin-bottom: 3rem;}
.special-4 .truist-global-staticcard-card-cta-button {margin: 0;}
.special-4 .staticcard .cta .global-cta-btn {margin: 0;}
.special-4 .staticcard .cta .global-cta-btn a {margin: 0;}
@media (min-width: 769px) {
    .special-4 .truist-global-staticcard-column:not(last-child) {margin-bottom: 0;}
}




/*MODAL UPDATES*/
.modal-header {padding: 3rem 1rem 0;}
.modal-header {border-bottom: 0;}

@media (min-width: 1440px) {
    .global-popup .popup-modal-close {left: calc(47vw - 50px);}
    .global-popup .modal-dialog {max-width: 48vw;}
    .global-popup .modal-dialog .modal-content {max-height: 80vh;}
}
@media (min-width: 1200px) and (max-width: 1439px) {
    .global-popup .popup-modal-close {left: calc(62vw - 50px);}
    .global-popup .modal-dialog .modal-content {max-height: 80vh;}
    .global-popup .modal-dialog {max-width: 64vw;}
}
@media (min-width: 992px) and (max-width: 1199px) {
    .global-popup .popup-modal-close {left: calc(78vw - 50px);}
    .global-popup .modal-dialog {max-width: 79vw;}
}
@media (max-width: 767px) {
    .global-popup .popup-modal-close {left: calc(106vw - 90px);}
    .global-popup .rounded-edge {border-radius: 0;}
    .global-popup .modal-dialog {max-width: 100%;}
    .global-popup .modal-dialog .modal-content {max-height: calc(100vh - 1px);}
}
@media (max-width: 575px) {
    .global-popup .modal-dialog .modal-content {max-height: calc(100vh - 1px);}
    .global-popup .modal-dialog {max-width: 100%; margin: auto;}
}